<ion-header [translucent]="true" no-border>
  <ion-toolbar>
    <ion-title>
      Encabezados
    </ion-title>
  </ion-toolbar>

  <ion-segment #mySegment scrollable mode="md" color="primary" (ionChange)="segmentChanged($event)">
    <ion-segment-button *ngFor="let categoria of categorias" mode="md" [value]="categoria">
      <ion-label text-capitalize>{{ categoria }}</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
